body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Flight {
  background-image: url('./assets/bg1.jpg');
  background-size: cover;
}

.Launches {
  background-image: url('./assets/bg8.jpg');
  background-size: auto;
  text-align: center;
}

.Filtered {
  margin-bottom: 5px solid black;
}

.Field{
  margin-left: 30px;
  margin-right: 30px;
  width: max-content;
}